html
    head
    title

    body
        h1=message

        table
            thead
                tr
                    th Name
                    th Lastname
            tbody
                    tr
                        td= data.name 
                        td= data.lastname
                       